body{
    padding: 0px;
    margin: 0px;
}
  /* This is Navbar section  */

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(247, 243, 238);
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
   font-size: larger;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: large;
}
.cart{
    display: flex;
    gap: 15px;
}
  /* this is hero section  */

.hero-section{
    background-color: rgb(239, 233, 223);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}
.span-1{
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.span-2{
    font-size: larger;
}
.btn{
    display: flex;
    background-color: rgb(79, 43, 43);
    border-radius: 5px;
    align-items: center;
    gap: 5px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

/* this is a contant section */

.contant-section{
    background-color: rgb(245, 239, 231);
    padding: 50px;
}
.header{
    text-align: center;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(79, 43, 43);
    padding: 30px;
}
.categorys{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.items{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* this is a cards section */
.sec{
    background-color: rgb(240, 233, 224);
}
.cards{
    display: flex;
    justify-content: space-around;
}
.card-item{
    background-color: rgb(238, 238, 238);
    display: flex;
    gap: 30px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin: 20px;


}
.bton{
    background-color: rgb(222, 146, 4);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}
.descript {
    background-color: rgb(90, 22, 248);
    display: flex;
    align-items: center;
    padding: 5px;
    color: rgb(209, 210, 211);
    border-radius: 5px;
}
.hand-card{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu-item{
    background-color: rgb(238, 238, 238);
    width: 250px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.menu-items{
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    width: 250px;
    padding: 20px;

}
.price-itmes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.clients-comments{
    background-color: azure;
    display: flex;
    padding: 20px;
    border-radius: 5px;
    color: rgb(83, 42, 42);
    font-size: larger;
    width: 900px;
}
.cl-com{
    display: flex;
    justify-content: center;
}
.wonner{
    display: flex;
    margin-top: 50px;
    gap: 30px;
    text-align: center;
}
.wonner img{
    border-radius: 100px;
    border: 1px dotted;
}
.wonners{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.ftd{
    margin: 0px;
    padding: 0px;
}
.footerr{
    background-color: rgb(249, 241, 229);
    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding: 30px;
}
.unorder-list{
    list-style: none;

}
.span-0{
    font-size: larger;
}
.ft-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.icon{
    display: flex;
    gap: 20px;
    margin: 10px;
}
.ft-item{
    align-items: center;
}
.message{
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(242, 227, 204) ;
    padding: 10px;
}